<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ysm.mybatis.mapper.UserMapper">
    <insert id="insertUser">
        insert into user values(null,'Hello ysm1');
    </insert>
    <update id="updateUser">
        update user set name="杨思铭原神" where id=8;
    </update>
    <delete id="deleteUser">
        delete from user where id=10;
    </delete>

<!--     resultType 设置结果类型 转为Java类型-->
<!--    resultMap 自定义映射，处理一对多或多对一的映射关系-->
    <select id="getUserById" resultType="User">
        select * from user where id=8;
    </select>

    <select id="listAllUser" resultType="User">
        select * from user;
    </select>
    <select id="getUserByName" resultType="User">
        select * from user where name=#{name};
    </select>

    <insert id="addUser">
        insert into user values(null,#{name});
    </insert>
</mapper>